rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // This rule allows anyone to read and write to your Firestore database.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
